
# Default owners for all files in the repository
* @github/github-well-architected-admins @github/cse-intelligence-engine-squad @bot-digital-customer-success @github/github-well-architected-maintainers

# Owners for .github and script directories
# This includes CICD workflows, and other CSE-specific configurations
/.github/ @github/github-well-architected-admins @github/cse-intelligence-engine-squad @bot-digital-customer-success