.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 0;
  margin-top: var(--base-size-8);
  margin-bottom: var(--base-size-8);
}

.submissionMessage {
  color: var(--fgColor-muted);
  font-size: var(--text-body-size-small);
  margin: 0;
}

.errorMessage {
  color: var(--fgColor-danger);
  font-size: var(--text-body-size-small);
  margin: 0;
}

.buttonLoading {
  opacity: 0.5;
  cursor: default;
}

.buttonDisabled {
  cursor: default;
}